# Dependências (Nunca devem ir para a imagem, o Docker instala-as lá dentro)
node_modules
npm-debug.log

# Build do Next.js
.next
out
build

# Variáveis de ambiente locais (Segurança!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs e ferramentas de debug
.npm
.eslintcache
.stylelintcache
*.log

# Ficheiros do Sistema Operacional
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.github